# VS Code
.vscode

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
.gradle-user-home
.gradle-temp
# other
eclipse
run
.npm-cache

# Files from Forge MDK
forge*changelog.txt

# Support Libs
OriginalCompanions
Minecraft_Client_Source_1.21.1
ModDevGradle-main
NeoForge-1.21.x
BasicWeapons
PetTracker
WizardTower
Curios-1.21.x
artifacts-1.21.x
relics-1.21.1
irons-jewelry-1.21.1
SophisticatedCore-1.21.x
SophisticatedBackpacks-1.21.x
BetterCombat-1.21.1
NeoForge-1.20.1
minecraft-java-decomp
MineColonies
NeoForge-1.21.11/
artifacts-1.21.1/
basicweapons-legacy-1.21.1/
Ars-Nouveau-main/
irons-spells-n-spellbooks-1.21/
mahoutsukai-1.21.1-v1.36.27(1)/
Forbidden-Arcanus-1.21.1/
occultism-version-1.21.1/
Ars-Elemental-1.21/
Lootr-mdg-1.21.1/
kubejs-2101/
Mekanism/

# 1.20.1 Libs
Curios-1.20.x
artifacts-1.20.x
relics-1.20.1
irons-jewelry-1.20.1
SophisticatedCore-1.20.x
SophisticatedBackpacks-1.20.x
BetterCombat-1.20.1
minecraft-comes-alive-1.20.1
minecraft-comes-alive-1.21.1

TACZ-1.21.1-neoforge-1.21.1/
SophisticatedCore-1.21.x/
SophisticatedBackpacks-1.21.x/
pointblank-neoforge-1.21-1.11.1/
build/
.vscode/
.gradle/